@use "../../assets/variables.scss" as *;

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  max-width: 100%;

  &__title {
    font-size: 2em;
    padding: 15px;
    margin-top: 20px;
    font-family: $title-font, Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, $blue-opacity, $blue-opacity);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 0.4em;
    background-origin: content-box;
    color: white;
    display: inline-block;
  }

  @media screen and (min-width: 768px) {
    &__title {
      font-size: 2em;
      margin-bottom: 30px;
    }

    .card-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      justify-items: center;

      .card-container__item {
        display: flex;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    .card-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 50px;

  &__item {
    width: 100%;
    justify-self: center;
    align-self: center;
    border-radius: 5px;
  }
}
